@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
		url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
      url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  
}
h1, h2, h3, h4, h5, h6, p{
  margin:0;
  padding: 0;

}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
  
}
.container{
  width: 1135px;
  margin: 0 auto;
}
.header{
  position: absolute;
  left: 50%;
  top: 64px;
  transform: translate(-50%, 0);
  
  padding-bottom: 64px;
}
.main{
  padding-top: 187px;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu{
  display: flex;
  align-items: center;
}

.header__logo{
  width: 79px;
  height: 28px;
  margin-right: 39px;

}
.header__nav a:not(:last-child){
  margin-right: 24px;
}

.header__nav a{
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  text-decoration: none;
}

.headear__socials{
  display: flex;
  justify-content: center;
}

.header__socials-item{
  width: 17px;
  height: 16px;
  fill: #fff;
}

.header__socials-item:not(:last-child){
  margin-right: 21px;
}

.main__rating-title{
  margin-bottom: 16px;
}

.main__rating-wrap{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main__rating-stars{
  display: flex;
  align-items: center;
  margin-right: 9px;
  
}

.main__rating-number{
  line-height: 1.16;
  font-size: 12px;
}

.main__rating-star{
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.main__rating-star:not(:last-child){
  margin-right: 4px;
  
}
.main__header{
	font-family: 'Museo Sans';
  font-size: 76px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.main__description {
  max-width: 528px;
  line-height: 1.50;
  margin-bottom: 41px;
}

.main__button{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 245px;
  font-weight: 700;
  color: currentColor;
  text-decoration: none;
  background: #151515;
  border-radius: 8px;
  padding: 22px 72px;
  margin-bottom: 88px;
}
.main__description-wrap{
  display: flex;
  align-items: center;
}
.main__button-play{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 132px;
  margin-left: 315px;
  border-radius: 50%;
  background-color: #391917;
  cursor: pointer;
}

.main__button-dark{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #151515;
  cursor: pointer;
}

.main-slider__wrap{
  max-width: 415px;
  display: flex;
  align-items:center;
  padding-bottom:  104px;
}

.main-slider__arrow{
  width: 32px;
  height: 22px;
  margin-left: 28px;
  flex-shrink: 0;
  cursor: pointer;
}

.main-slider__slide{
  position: relative;
  width: 164px;
  height: 105px;
  border-radius: 8px;
  overflow: hidden;
}

.main-slider__slide span{
  position: absolute;
  left: 12px;
  bottom: 6px;
  transform:translate(0,0);
  font-size: 10px;
  line-height: 1.2;
}

.main-slider__slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer{
  background:#030102;
  line-height: 1.43;
  color: #686767;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.footer__menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__menu-item:not(:last-child){
  margin-right: 25px;
}

.footer__menu-link{
  text-decoration: none;
  color:currentColor;
}